body {
    margin: 0px;
    padding: 0px;
}
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hide-element {
    display: none;
}