.banner-container {
    min-height: 70vh;
    background-image: radial-gradient(circle, rgb(28 181 225) 0px, rgb(54 148 228) 100%);
    position: relative;
    /* night mode */
    /* background-image: radial-gradient(circle, rgb(32, 32, 71) 0px, rgb(2, 9, 23) 100%); */
    color: white;
}
body.dark-mode .banner-container {
    background-image: radial-gradient(circle, rgb(27, 27, 54) 0px, rgb(2, 9, 23) 100%);
}
.plan-img {
    width: 300px;
    height: 200px;
}

.cloud-img {
    width: 300px;
    height: 300px;
    position: absolute;
}
.cloud-1 {
    top: 0px;
    left: 80px
}
.cloud-2 {
    bottom: 0px;
    left: 0px
}
.cloud-3 {
    top: 150px;
    right: 50px
}
.bird-img {
    position: absolute;

}
.title {
    font-size: 4rem;
    font-family: cursive;
}
.sub-title-container {
    display: flex;
    width: 350px;
}
.sub-title {
    font-family: monospace;
}
